name: enviroment

on: 
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  env:
    runs-on: ubuntu-latest
    steps:
      - run: |
           echo "USER=$USER"
           echo "RUNNER_OS=$RUNNER_OS"  
