name: Node.js CI

on:
  push:
    branches:
      - main
      - "release/**"
  pull_request:
    branches:
      - main
      - "release/**"

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ جلب الكود
      - name: Checkout code
        uses: actions/checkout@v6.0.2

      # 2️⃣ تثبيت Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'  # ممكن تغير الإصدار حسب مشروعك

      # 3️⃣ تثبيت dependencies
      - name: Install dependencies
        run: npm install

      # 4️⃣ تشغيل الاختبارات
      - name: Run tests
        run: npm test
